<% include ./../partials/header %>
<br>
<h1 id="header">Test Case Glass Cup</h1>
<div class="container">
<p class="text-center">When I was applying for a Junior Tester Role at Massive Interactive, I have to do a exercise where I have to think of making as many
test cases as I can to test a glass cup.</p>
<p class="text-center">The hard part about the task was there was no requirements. So my approach was to 
think test scenarios for Functionally, Risk, UX and Stress. Also test scenarios for different types of glass cups for 
Kitchen Glasses and Glass Beakers</p>
<p class="text-center">I did not get the job at Massive but the exercise helped me to think outside the box when I am testing something.</p>
<p class="text-center">You can download the 
<a href="https://drive.google.com/file/d/1xSfRKfJTHu17Bp2yuwYHMs1JZ7PVcS7f/view?usp=sharing" target="_blank">Test Case Spreadsheet</a> and the 
<a href="https://drive.google.com/file/d/1Yy0PpZg39x83izuLbK-a11Rdq14kjAuX/view?usp=sharing" target="_blank">Test Case Mindmap</a> by clicking on the hyperlink.</p>
<br>
<div class="text-center">
<img src="/images/glasscuppage.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<% include ./../partials/footer %>