<% include ./../partials/header %>
<br>
<h1 id="header">Image Gallery</h1>
<div class="container">
<p class="text-center">I made this Image Gallery in the Web Developer Course I am doing. 
This page uses Bootstrap to get the pretty header and contrainers <br>wrap the text and images in.</p>
<p class="text-center">The page is built with HTML, CSS and Bootstrap. Note this is only a static page so the buttons in the page don't work.</p>
<p class="text-center">You can play the game <a id="links" href="http://dhaigh.x10.mx/Image-Gallery/Gallery.html" target="_blank">here</a>. 
You can view the source code <a id="links" href="https://github.com/Dhaigh94/Image-Gallery" target="_blank">here</a>.</p>
<br>
<div class="text-center">
<img src="/images/projects/imagegallerypage.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<% include ./../partials/footer %>
