<% include ./../partials/header %>
<br>
<h1 id="header">Patatap Clone</h1>
<div class="container">
<p class="text-center">I made this Patatap Clone in the Web Developer Course I am doing. What the app does is when you press a letter key 
from A to Z and <br>you will see a colour circle animation with sound. The colour of the circle and the sound will be 
different depending on the letter key you press.</p>
<p class="text-center">The app is built with HTML, CSS, Paperjs and Howlerjs.</p>
<p class="text-center">This app does not work on mobile only desktop because it works with a keyboard.</p>
<p class="text-center">You can play the app <a href="http://dhaigh.x10.mx/Patatap-Clone/Circles.html" target="_blank">here</a>. 
You can view the source code <a href="https://github.com/Dhaigh94/Patatap-Clone" target="_blank">here</a>.</p>
<br>
<div class="text-center">
<img src="/images/patatappage.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<% include ./../partials/footer %>
