<% include ./../partials/header %>
<br>
<h1 id="header">Photo Board</h1>
<div class="container">
<p class="text-center">I made this Photo Board in the Web Developer Course I am doing. This photo board uses CSS to position images in a grid design <br>so it looks
clean and it is compatible with a Desktop screen and a Mobile screen.</p>
<p class="text-center">The page is built with HTML and CSS.</p>
<p class="text-center">You can view the page <a id="links" href="http://dhaigh.x10.mx/Photo-Board/PhotoGrid.html" target="_blank">here</a>. 
You can view the source code <a id="links" href="https://github.com/Dhaigh94/Photo-Board" target="_blank">here</a>.</p>
<br>
<div class="text-center">
<img src="/images/photoboardpage.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<% include ./../partials/footer %>
