<%- include ("./../partials/header") %>
<br>
<h1 id="header">Projects</h1>
<p class="text-center">This is a Gallery of the Web and Test Projects I have done.</p>
<div class="container">
  <div class="row">
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Projects/ciCypress.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="CIcypress" class="btn btn-outline-danger btn-lg" href="/ci-cypress" role="button">CI Cypress</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Projects/RGB.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="RGB" class="btn btn-outline-danger btn-lg" href="/rgb-colour-guessing-game" role="button">RGB Colour Game</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Projects/patatapprojects.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Patatap" class="btn btn-outline-danger btn-lg" href="/patatap-clone" role="button">Patatap Clone</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Projects/photoboardprojects.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Photo" class="btn btn-outline-danger btn-lg" href="/photo-board" role="button">Photo Board</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Projects/imagegalleryprojects.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Image" class="btn btn-outline-danger btn-lg" href="/image-gallery" role="button">Image Gallery</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Projects/RAW.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="RAW" class="btn btn-outline-danger btn-lg" href="/raw-app" role="button">RAW APP</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Projects/glasscupprojects.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Glass" class="btn btn-outline-danger btn-lg" href="/glass-cup" role="button">Test Case Glass Cup</a>
	</div>
		</div>
	</div>
</div>
</div>
<%- include ("./../partials/footer") %>