<% include ./../partials/header500 %>
<br>
<h1 data-cy="500" id="header">500</h1>
<div class="container">
  <h3 data-cy="servererror" id="header">Sorry a Internal Server Error has occured.</h3>
  <p class="text-center">Please try again later.</p>
    </div>
<br>
<div class="text-center">
  <img src="/images/errorpages/500.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
<% include ./../partials/footer500 %>