  <footer class="mainfooter" role="contentinfo">
      <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="footer-pad">
                  <h4>Home</h4>
                  <ul class="list-unstyled">
                  <li><a data-cy="homeFooter" href="/home">About Me</a></li>
                </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="footer-pad">
                  <h4>Work</h4>
                  <ul class="list-unstyled">
                    <li><a data-cy="workFooter" href="/work">Work</a></li>
                    <li><a data-cy="qantasinsuranceFooter" href="/qantasinsurance">Qantas Insurance</a></li>
                    <li><a data-cy="qantasairlineFooter" href="/qantasairline">Qantas Airline</a></li>
                    <li><a data-cy="qantasloyaltyFooter" href="/qantasloyalty">Qantas Loyalty</a></li>
                    <li><a data-cy="loricaFooter" href="/lorica-health">Lorica Health</a></li>
                    <li><a data-cy="suncorpFooter" href="/suncorp">Suncorp</a></li>
                    <li><a data-cy="wired2cloudFooter" href="/wired2cloud">Wired2Cloud</a></li>
                    <li><a data-cy="sircFooter" href="/sirc">SIRC</a></li>
                    <li><a data-cy="covataFooter" href="/covata">Covata</a></li>
                    <li><a data-cy="careerventuresFooter" href="/careerventures">CareerVentures</a></li>
                    <li><a data-cy="aieFooter" href="/aie-rumble-academy">AIE Rumble Academy</a></li>
                    <li><a data-cy="kartelFooter" href="/kartel-digital">Kartel Digital</a></li>
                    <li><a data-cy="playFooter" href="/play2lead">Play2Lead</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="footer-pad">
                  <h4>Projects</h4>
                  <ul class="list-unstyled">
                    <li><a data-cy="projectsFooter" href="/projects">Projects</a></li>
                    <li><a data-cy="ciFooter" href="/ci-cypress">CI Cypress</a></li>
                    <li><a data-cy="rgbFooter" href="/rgb-colour-guessing-game">RGB Colour Guessing Game</a></li>
                    <li><a data-cy="patatapFooter" href="/patatap-clone">Patatap Clone</a></li>
                    <li><a data-cy="photoFooter" href="/photo-board">Photo Board</a></li>
                    <li><a data-cy="imageFooter" href="/image-gallery">Image Gallery</a></li>
                    <li><a data-cy="rawFooter" href="/raw-app">RAW APP</a></li>
                    <li><a data-cy="glassFooter" href="/glass-cup">Test Case Glass Cup</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="footer-pad">
                    <h4>Blog</h4>
                    <ul class="list-unstyled">
                      <li><a data-cy="blogFooter" href="/blog">Blog</a></li>
                      <li><a data-cy="wapowfajtFooter" href="/what-a-product-owner-wants-from-a-junior-tester">What a Product Owner Wants from a Junior Tester</a></li>
                      <li><a data-cy="storyFooter" href="/my-testing-story">My Testing Story</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-pad">
                      <h4>Resoures</h4>
                      <ul class="list-unstyled">
                        <li><a data-cy="resourcesFooter" href="/resources">Portfolio Resources</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="footer-pad">
                        <h4>Contact</h4>
                        <ul class="list-unstyled">
                          <li><a data-cy="contactFooter" href="/contact">Contact Me</a></li>
                        </ul>
                      </div>
                    </div>
              <div class="col-md-6">
                <h4>Social Media</h4>
                    <ul class="social-network social-circle">
                     <li><a href="https://www.facebook.com/david.haigh.104" target="_blank" data-cy="Facebook" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="https://www.linkedin.com/in/david-haigh-46161097/" target="_blank" data-cy="Linkedin" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                     <li><a href="https://twitter.com/BugDevilDavid" target="_blank" data-cy="Twitter" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></i></a></li>
                     <li><a href="https://www.instagram.com/bugdevildavid/" target="_blank" data-cy="Instagram" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></i></a></li>
                     <li><a href="https://github.com/Dhaigh94" target="_blank" data-cy="Github" class="icoGithub" title="Github"><i class="fa fa-github"></i></i></a></li>
                     <li><a href="https://www.youtube.com/channel/UCkJ0xOTmM3rXfSGj2xcsnLg" target="_blank" data-cy="Youtube" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></i></a></li>
                    </ul>				
            </div>
            </div>
</div>
</div>
</footer>
</body>
<script src="/js/jquery.js"></script>
<script src="/magnific-popupjs/jquery.magnific-popup.js"></script>
<script>
$('.navbar-nav a').on('click', function() {
 $('.navbar-nav').find('#links.active').removeClass('active');
  $(this).parent('#links').addClass('active');
});

$(function(){
$('.navbar-nav a').each(function() {
 if ($(this).prop('href') == window.location.href) {
     $(this).addClass('active');
    }
  });
});

$(document).ready(function() {
	$('.popup-gallery').magnificPopup({
		delegate: 'a',
		type: 'image',
		tLoading: 'Loading image #%curr%...',
		mainClass: 'mfp-img-mobile',
		gallery: {
			enabled: true,
			navigateByImgClick: true,
			preload: [0,1] // Will preload 0 - before current, and 1 after the current image
		},
		image: {
			tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
			titleSrc: function(item) {
				return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
			}
		}
	});
});
</script>
<script src="/js/bootstrap.min.js"></script>
</html>
