 <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
  <a id="top" class="navbar-brand">Social Media</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarfooter" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarfooter">
    <div class="navbar-nav">
      <div id="Space2">
      <button type="button" class="btn btn-light btn-sm">
  <a class="navbar-brand" href="https://www.facebook.com/david.haigh.104" target="_blank" id="social">
    <img src="https://i.imgur.com/y5vdefs.png" width="30" height="30" class="d-inline-block align-top">
    Facebook
  </a>
  </button>
  </div>
  <div id="Space2">
  <button type="button" class="btn btn-light btn-sm">
  <a class="navbar-brand" href="https://twitter.com/BugDevilDavid" target="_blank" id="social">
    <img src="https://i.imgur.com/rHmhd1Z.png" width="30" height="30" class="d-inline-block align-top">
    Twitter
  </a>
  </button>
  </div>
  <div id="Space2">
  <button type="button" class="btn btn-light btn-sm">
  <a class="navbar-brand" href="https://www.instagram.com/bugdevildavid/" target="_blank" id="social">
    <img src="https://i.imgur.com/rUE3gNp.png" width="30" height="30" class="d-inline-block align-top">
    Instagram
  </a>
  </button>
  </div>
  <div id="Space2">
      <button type="button" class="btn btn-light btn-sm">
  <a class="navbar-brand" href="https://www.linkedin.com/in/david-haigh-46161097/" target="_blank" id="social">
    <img src="https://i.imgur.com/piVb4mC.png" width="30" height="30" class="d-inline-block align-top">
    LinkedIn
  </a>
  </button>
  </div>
  <div id="Space2">
      <button type="button" class="btn btn-light btn-sm">
  <a class="navbar-brand" href="https://github.com/Dhaigh94" target="_blank" id="social">
    <img src="https://i.imgur.com/JobfPGK.png" width="30" height="30" class="d-inline-block align-top">
    Github
  </a>
  </button>
  </div>
  <div id="Space2">
      <button type="button" class="btn btn-light btn-sm">
  <a class="navbar-brand" href="https://www.youtube.com/channel/UCkJ0xOTmM3rXfSGj2xcsnLg" target="_blank" id="social">
    <img src="https://i.imgur.com/MUVUR5b.png" width="30" height="30" class="d-inline-block align-top">
    Youtube
  </a>
  </button>
  </div>
  </div>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
$('.navbar-nav a').on('click', function() {
 $('.navbar-nav').find('#links.active').removeClass('active');
  $(this).parent('#links').addClass('active');
});

$(function(){
$('.navbar-nav a').each(function() {
 if ($(this).prop('href') == window.location.href) {
     $(this).addClass('active');
    }
  });
});
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
