<html>
    <head>
        <title>David's Portfolio</title>
        <link rel="shortcut icon" href="https://i.imgur.com/4vmHXS9.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a id="top" class="navbar-brand" href="/">David's Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li id="links"><a class="nav-item nav-link" href="/home">Home <span class="sr-only">(current)</span></a></li>
      <li id="links"><a class="nav-item nav-link" href="/work">Work</a></li>
      <li id="links"><a class="nav-item nav-link" href="/projects">Projects</a></li>
      <li id="links"><a class="nav-item nav-link" href="/blog">Blog</a></li>
      <li id="links"><a class="nav-item nav-link" href="/resources">Resources</a></li>
      <li id="links"><a class="nav-item nav-link" href="/contact">Contact</a></li>
    </div>
  </div>
</nav>
