<html>
    <head>
        <title>David's Portfolio</title>
        <link rel="shortcut icon" href="/images/other/icon.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/magnific-popupcss/magnific-popup.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/portfolio.css">
    </head>
    <body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a id="top" class="navbar-brand" href="/">David's Portfolio</a>
  <button data-cy="Hamburger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <div class="navbar-nav">
      <li id="links"><a data-cy="Home" class="nav-item nav-link" href="/home">Home <span class="sr-only">(current)</span></a></li>
      <li id="links"><a data-cy="Work" class="nav-item nav-link" href="/work">Work</a></li>
      <li id="links"><a data-cy="Projects" class="nav-item nav-link" href="/projects">Projects</a></li>
      <li id="links"><a data-cy="Blog" class="nav-item nav-link" href="/blog">Blog</a></li>
      <li id="links"><a data-cy="Resources" class="nav-item nav-link" href="/resources">Resources</a></li>
      <li id="links"><a data-cy="Contact" class="nav-item nav-link" href="/contact">Contact</a></li>
    </div>
  </div>
</nav>
