<% include ./partials/header %>
<br>
<h1 id="header">404</h1>
<div class="container">
  <h3 id="header">Sorry this page cannot be found.</h3>
  <p class="text-center">You can go back to the home page by clicking on the button below.</p>
  <div class="text-center">
    <a class="btn btn-danger btn-lg" href="/home" role="button">Back Home</a>
    </div>
</div>
<br>
<div class="text-center">
  <img src="/images/404.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
<% include ./partials/footer %>
