<html>
    <head>
        <title>404 Not Found</title>
        <link rel="shortcut icon" href="https://i.imgur.com/4vmHXS9.png" type="image/x-icon">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a id="top" class="navbar-brand" href="/">David's Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/work">Work</a>
      <a class="nav-item nav-link" href="/projects">Projects</a>
      <a class="nav-item nav-link" href="/blog">Blog</a>
      <a class="nav-item nav-link" href="/resources">Resources</a>
      <a class="nav-item nav-link" href="/contact">Contact</a>
    </div>
  </div>
</nav>
    </head>
<body>
<br>
<h1 id="header">404</h1>
<div class="container">
  <h3 id="header">Sorry this page cannot be found.</h3>
  <p class="text-center">You can go back to the home page by clicking on the button below.</p>
  <div class="text-center">
    <a class="btn btn-danger btn-lg" href="/home" role="button">Back Home</a>
    </div>
</div>
<br>
<div class="text-center">
  <img src="https://i.imgur.com/w1nXdTQ.jpg?1" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<% include ./partials/footer %>
