<html>
    <head>
        <title>Internal Server Error</title>
        <link rel="shortcut icon" href="https://i.imgur.com/4vmHXS9.png" type="image/x-icon">
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
<body>
<br>
<h1 id="header">500</h1>
<div class="container">
  <h3 id="header">Sorry a Internal Server Error has occured.</h3>
  <p class="text-center">Please try again later.</p>
    </div>
</div>
<br>
<div class="text-center">
  <img src="https://i.imgur.com/TsbENan.png?1" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    </body>
</html>
