<% include ./partials/header %>
<br>
<div class="container">
 <h1 id="header">Blog</h1>
 <div id="area" class="container">
  <div class="row">
	<div id="Space" class="col-lg-6 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid2" src="https://i.imgur.com/t4iEyVU.jpg?4" class="img-fluid img-thumbnail">
	</picture>
	<h5 id="header">What a Product Owner Wants from a Junior Tester</h5>
	<p class="text-center">This is a blog post about what a Product Owner wants from a Junior Tester with Jasper a great Senior Product Owner from Lendlease.</p>
	<div id="date" class="text-center">12th May 2017</div>
	<div id="button" class="text-center">
	<a id="Product" class="btn btn-outline-danger btn-lg" href="/what-a-product-owner-wants-from-a-junior-tester" role="button">View Post</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-6 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid2" src="https://i.imgur.com/Ts7EJ5t.png?2" class="img-fluid img-thumbnail">
	</picture>
	<h5 id="header">My Testing Story</h5>
	<p class="text-center">This is a blog post about My Testing Story when I talk to Joel a great Product Owner from AirTasker.</p>
	<div id="date" class="text-center">11th April 2017</div>
	<div id="button" class="text-center">
	<a id="Story" class="btn btn-outline-danger btn-lg" href="/my-testing-story" role="button">View Post</a>
	</div>
		</div>
	</div>
</div>
<% include ./partials/footer %>
