<% include ./partials/header %>
<br>
<h1 id="header">Covata</h1>
<div class="container">
<p class="text-center">I started at Covata in November 2015 to test an application the company was creating called ‘SafeShare’. 
This application is just like Dropbox, sending data to a repository for other users to pull from, 
the difference with this application is that the data is encrypted before it is sent and is decrypted on the receiving device. 
If the creator gives a user access. The application is mainly targeted at OEM’s.</p>
<p class="text-center">We had access to 2 mobile phones (android and IOS), 1 tablet device and 2 computers for testing. 
The company was interested in User Interface and User Experience testing. We supplied test results to the company through their Jira board, 
which we updated with new bug reports and bug IDs as we progressed. The team and I performed regression testing after each new update was provided. 
We mainly used exploratory testing to find functional, UI and UX issues with the application as the product manager 
said 80% of most critical bugs were found through exploratory testing. Three main issues we found with the application were:</p>
<ol>
    <li>The side menu which is displayed would be pushed below the page when accessed on Safari.</li>
    <li>The application would crash on IOS and Android devices when minimised for longer than half an hour.</li>
    <li>The application would not allow some specific upload sizes. E.g. It would allow 113Mb but not 112Mb.</li>
</ol>
<p class="text-center">The team and I learnt what types of bug’s developers are actually interested in and what types of bugs 
they will act on according to their own quality criteria. This testing was only meant to be performed by our team for 2 days, 
but we were asked back for another day as the company found our speed and efficiency for locating and reporting bugs was very valuable to them.</p>
<br>
<div class="text-center">
<img src="/images/covatapage.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<% include ./partials/footer %>