<% include ./partials/header %>
<br>
<h1 id="header">About Me</h1>
<div class="container">
<p class="text-center">My name is David and I am currently working at Qantas in their Insurance department, where I am testing their insurance product from the Front End.
<br>
   This is an online portfolio I've developed from scratch to demonstrate my skills in front-end development, 
   software test and support. I was part of WorkVentures “KickStart Academy in Software Testing”. 
   It was a 3 months course. The trainers were Anne Marie Charrett and Catherine Karena. 
   It was project based. I tested with 10 different companies, this portfolio covers the type of work I did and what I learnt.
   After the course, I was working at CareerVentures as Business and Technical Support.
   I also did a 6-week internship for Kartel Digital and have continued to the test the new upgrades for Wired2Cloud.</p>
<p class="text-center">You can download my Resume from <a data-cy="Resume" href="https://drive.google.com/file/d/1QLIH4AkDx5JAAvXk_b5S_Us2LrOliUWA/view?usp=sharing" target="_blank">here</a>.</p>
<p class="text-center">Please click the <a data-cy="Worklink" href="/work">Work</a> link to see examples of my work.</p>
<p class="text-center">You can also look at the source code for my Online Portfolio 
<a data-cy="Portfolio" href="https://github.com/Dhaigh94/Online-Portfolio" target="_blank">here</a>.</p>
<br>
<div class="text-center">
<img src="https://i.imgur.com/SimXo5b.png" class="img-fluid" alt="Responsive image">
</div>
</div>
<% include ./partials/footer %>
