<% include ./partials/header %>
<br>
<h1 id="header">Kartel Digital</h1>
<div class="container">
<p class="text-center">I did a 6-week Internship at Kartel Digital as a Tester. 
I was testing client websites doing Cross Browser testing to test the Design, User Experience and Functionally. 
The clients were Unilever, Hasbro and Sydney Airport.</p>
<p class="text-center">You can download the Kartel Digital Website Mindmap 
<a href="https://drive.google.com/file/d/0B8b67jImVQVQZGNlUm1scHAyY1k/view?usp=sharing" target="_blank">here</a>.</p>
<br>
<iframe style="position: relative; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/158960531@N05/albums/72157697496172074&sort=0&by=album&theme=slider&scale=fit&limit=30&skin=default&autoplay=true" 
scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Compare over <a rel="nofollow" 
href="https://www.gapquotes.com">11 gap insurance providers</a> at GapQuotes.com</p><small>Powered by <a href="https://flickrembed.com">
flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",
function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
</div>
<% include ./partials/footer %>