<% include ./partials/header %>
<br>
<h1 id="header">Lorica Health</h1>
<div class="container">
<p class="text-center">I worked at Lorica Health as a Junior Test Analyst on a 2-month contract. 
Lorica Health is a company that provides advanced claims analytics solutions and services to the healthcare sector. 
As a Test Analyst, I was responsible for Understanding requirements, Adding issues to Jira, Bug tracking in Jira, 
Verifying Bug and User Story tickets in Jira and testing their products which are database type web applications. 
The products I was testing were called HIBIS and NeMo.</p>
<br>
<h2 id="header">HIBIS</h2>
<p class="text-center">HIBIS is a web application that detects fraud, errors and abuse with health claim data with the major health funds in Australia and the US. 
More info on HIBIS can be found <a href="https://www.loricahealth.com/hibis/" target="_blank">here</a>.</p>

<h2 id="header">NEMO</h2>
<p class="text-center">NeMo is a web application where the DVA Department of Veteran Affairs negotiate with the Private Hospitals and Day Procedure Centres on their prices.</p>
<br>
<div class="text-center">
<img src="https://i.imgur.com/NFIpxV4.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<% include ./partials/footer %>