<% include ./partials/header %>
<br>
<h1 id="header">Projects</h1>
<p class="text-center">This is a Gallery of the Web and Test Projects I have done.</p>
<div id="area" class="container">
  <div class="row">
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/adtv7z3.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a class="btn btn-outline-danger btn-lg" href="/rgb-colour-guessing-game" role="button">RGB Colour Game</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/3G9Ja8B.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a class="btn btn-outline-danger btn-lg" href="/patatap-clone" role="button">Patatap Clone</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/3SCm6VN.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a class="btn btn-outline-danger btn-lg" href="/photo-board" role="button">Photo Board</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/OAxUHgO.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a class="btn btn-outline-danger btn-lg" href="/image-gallery" role="button">Image Gallery</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/Df9lIAY.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a class="btn btn-outline-danger btn-lg" href="/raw-app" role="button">RAW APP</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/vU8joz6.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a class="btn btn-outline-danger btn-lg" href="/glass-cup" role="button">Test Case Glass Cup</a>
	</div>
		</div>
	</div>
</div>
</div>
<% include ./partials/footer %>
