<% include ./partials/header %>
<br>
<h1 id="header">Qantas</h1>
<div class="container">
<p class="text-center">I worked at Qantas as a Junior QA on a 12-month contract.
My job as Junior QA is to provide Quality Assurance to the teams for Qantas Insurance and Qantas Money by testing their Front-End, Back-End/Microservices and doing a bit of 
Automation testing using the TestCafe Browser Recorder. Also using TestCafe to test Cross Browser.
</p>
<p class="text-center">You can learn more about Qantas Insurance <a href="https://www.qantasassure.com/" target="_blank">here</a>. 
You can learn more about Qantas Money <a href="https://www.qantasmoney.com/" target="_blank">here</a>.</p>
<br>
<iframe style="position: relative; top: 0; left: 0; width: 100%; height: 100%;" 
src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/158960531@N05/albums/72157694853036912&sort=0&by=album&theme=slider&scale=fill&limit=10&skin=default&autoplay=true" 
scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Compare over <a rel="nofollow" href="https://www.gapquotes.com">11 gap insurance providers</a> 
at GapQuotes.com</p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">
    function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",
    function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
</div>
<% include ./partials/footer %>
