<% include ./partials/header %>
<br>
<h1 id="header">Qantas Airline</h1>
<div class="container">
<p class="text-center">I worked at Qantas Airline as a Quality Analyst. As a Quality Analyst I am working in the 
Sales and Distribution department, where I am testing for the QBR and QDP projects. 
</p>
<br>
<div class="text-center">
<img src="/images/airlinepage.png" class="img-fluid" alt="Responsive image">
</div>
</div>
<% include ./partials/footer %>