<% include ./partials/header %>
<br>
<div class="container">
    <h1 id="header">Portfolio Resources</div>
<p class="text-center">This is a list of resources I used and made during and after the course.</p>
<p class="text-center">
<a id="links" href="https://drive.google.com/file/d/1jlSf5okBaAP-F4B7MRVyAgBD-51bY08r/view?usp=sharing" target="_blank">HTSM</a>, 
<a id="links" href="https://drive.google.com/file/d/1WctORmaqlmlzc6jZyP_uH16CF5tmgHny/view?usp=sharing" target="_blank">FEW HICCUPS</a>, 
<a id="links" href="https://drive.google.com/file/d/1DA1e3q2Q4LVd62-do-eALG4R_GhtnQqH/view?usp=sharing" target="_blank">Testing Without a Map</a>, 
<a id="links" href="https://drive.google.com/file/d/1hs_jCRTW2yQlNsAEbdv6So6ouNn-eMSJ/view?usp=sharing" target="_blank">APARADER</a>,
<a id="links" href="https://drive.google.com/file/d/1t5Pzsj0nz_kjAol1VhRGaQqpHSYBHm8Z/view?usp=sharing" target="_blank">3 Basics of Bug Reporting</a>, 
<br>
<a id="links" href="https://drive.google.com/file/d/1Sv8oSZs31LfjIlI9dBB8usIov8YHbNtf/view?usp=sharing" target="_blank">FEW HICCUPS Simplified in Plain English</a>, 
<a id="links" href="https://drive.google.com/file/d/16Y2KClFPNm8ZiG3BuiBazYDIN1sfr0xq/view?usp=sharing" target="_blank">What to Do if There is a Bug?</a>
</p>
<br>
<iframe data-cy="resourcesslideshow" style="position: relative; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/158960531@N05/albums/72157698025337285&sort=0&by=album&theme=slider&scale=fit&limit=10&skin=default&autoplay=true" 
scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Compare over <a rel="nofollow" 
href="https://www.gapquotes.com">11 gap insurance providers</a> at GapQuotes.com</p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.
</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",
function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
</div>
<% include ./partials/footer %>