<% include ./partials/header %>
<br>
<h1 id="header">RGB Colour Guessing Game</h1>
<div class="container">
<p class="text-center">I made this RGB Colour Guessing Game in the Web Developer Bootcamp Course that I am doing online.<br> 
The game is built with HTML CSS and JavaScript. The objective of the game is to guess what the RGB colour is that is shown on the screen.</p>
<p class="text-center">The game has 2 modes Easy and Hard. Easy has 3 colours to choose from and Hard has 6 colours to choose from.</p>
<p class="text-center">This game is not just fun to play but it can Developers and Designers built their knowledge on RGB colours.</p>
<p class="text-center">You can play the game <a href="http://dhaigh.x10.mx/Colour%20Game/colourGame.html" target="_blank">here</a>. 
You can view the source code <a href="https://github.com/Dhaigh94/RGB-Colour-Game" target="_blank">here</a>.</p>
<br>
<iframe style="position: relative; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/158960531@N05/albums/72157697496329284&sort=0&by=album&theme=slider&scale=fit&limit=10&skin=default&autoplay=true" 
scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Compare over <a rel="nofollow" href="https://www.gapquotes.com">11 gap insurance providers</a> at GapQuotes.com</p><small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",
function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
</div>
<% include ./partials/footer %>
