<% include ./partials/header %>
<br>
<h1 id="header">Work</h1>
<p class="text-center">This is a Gallery of all the work I have done.</p>
<div id="area" class="container">
  <div class="row">
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/xmUR3Xa.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="Qantasbutton" class="btn btn-outline-danger btn-lg" href="/qantas" role="button">Qantas</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/GZnidTv.jpg" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="Lorica Health" class="btn btn-outline-danger btn-lg" href="/lorica-health" role="button">Lorica Health</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/dPop7mD.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="Suncorp" class="btn btn-outline-danger btn-lg" href="/suncorp" role="button">Suncorp</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/Ke2H2tp.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="Wired2Cloud" class="btn btn-outline-danger btn-lg" href="/wired2cloud" role="button">Wired2Cloud</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/cnvwOub.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="SIRC" class="btn btn-outline-danger btn-lg" href="/sirc" role="button">SIRC</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/IjIxAMP.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="Covata" class="btn btn-outline-danger btn-lg" href="/covata" role="button">Covata</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/LTJCYcW.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="CareerVentures" class="btn btn-outline-danger btn-lg" href="/careerventures" role="button">CareerVentures</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/5giwH5M.png?2" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="AIE" class="btn btn-outline-danger btn-lg" href="/aie-rumble-academy" role="button">AIE Rumble Academy</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/Th4enA8.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="Kartel" class="btn btn-outline-danger btn-lg" href="/kartel-digital" role="button">Kartel Digital</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://i.imgur.com/Uhbg6bq.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a id="Play2Lead" class="btn btn-outline-danger btn-lg" href="/play2lead" role="button">Play2Lead</a>
	</div>
		</div>
	</div>
</div>
<% include ./partials/footer %>