<% include ./../partials/header %>
<br>
<div class="container">
    <div id="Post">
    <h1 id="header">What a Product Owner Wants from a Junior Tester</h1>
    <br>
        <div class="text-center">
            <img src="https://cdn.image4.io/davedevil/f_auto/Blog/juniortester.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
            <br>
                <div id="date">12th May 2017</div>
            <br>
                <p>I am sharing with you what I am learning interviewing testers, test leads and product owners in order to explore what kind of 
                communication they need from a junior tester and what a great tester looks like to them. Here is my second interview with Jasper, 
                a great Senior Product Owner from <a href="https://www.lendlease.com/au/" target="_blank">Lendlease</a>.</p>
                <p>Jasper was short on time so I sent an email to Jasper with the questions I wanted answered and here is his response. 
                I’ve made some comments as well, they’re in blue.</p>
                <p><strong>Question 1. How does your company test?</strong></p>
                <p>“Lendlease is a vast and complicated business with lots of different types of technology mixes. 
                I look after a few applications including the marketing platforms (websites, CRM, databases) and some onsite touchpoints for the following business types: Retirement Living, 
                Urban Regeneration and Retail Asset Management (shopping centres).</p>
                <p>We try to have testers embedded into the scrum teams who will take a product backlog item’s acceptance criteria and 
                write up the test cases against that – this then gets taken to the PO (Product Owner) to discuss. 
                When that item is developed we have a three way handshake with the Product Owner, the Developer and the Tester. 
                The tester then progresses this and will hand to the PO once all tests have been passed – the PO will usually do spot testing 
                and present to business stakeholders in UAT (User acceptance testing) for that final sign off before push to production. 
                Another thing that we have found is that Producers have started getting involved in the testing process too.. starting to wear multiple hats.”</p>
                <p id="Comments">I wasn’t that sure of what “product backlog item’s acceptance criteria” looked like, so I put the phrase into 
                <a href="http://images.google.com/" target="_blank">images.google.com</a> and it was interesting to see the different ways that acceptance criteria is collected.</p>
               <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 35%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/158960531@N05/albums/72157692236732090&sort=0&by=album&theme=carousel&scale=fit&limit=10&skin=default&autoplay=true" 
               scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
               <p>Compare over <a rel="nofollow" href="https://www.gapquotes.com">11 gap insurance providers</a> at GapQuotes.com</p>
               <small>Powered by <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">
               function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",
               function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
                <br> 
                <p><strong>Question 2. What does a product owner do where you are?</strong></p>
                <p>“We wear a few hats as the digital team is relatively small compared to some of the other companies which have a larger digital presence. 
                I basically act as the conduit between the development/scrum teams and the business stakeholders.”</p>
                <p><strong>Question 3. Can you think of the best test engineer you know, what made them good when it came to communication?</strong></p>
                <p>“The best testers in my opinion are the ones that put the customers above all else. Even if they can test against the acceptance criteria that is specified in the user story, 
                the tester is that final QA so if they can ask ‘why would the customer want to use this feature’ then sometimes the tester acts as that final catcher to stop something undesirable 
                getting out the door (if that makes any sense).”</p>
                <p><strong>Question 4. What kind of questions do you want the test engineer to ask you? OR How can a tester better help you?</strong></p>
                <p>“Ask plenty of ‘why’ questions rather than ‘what’. This means that even when presented with a solution, don’t just blindly accept that is what is being moved forward, without understanding why.”</p>
                <p><strong>Question 5. What do you want from a good test engineer?</strong></p>
                <p>“The final check, that what we are putting out not only works functionally but also makes sense from a holistic point of view. 
                I like to be challenged and have my ideas pressure tested as it helps ensure only the good ones get out there.”</p>
                <p id="Comments">A mental tool I like to use is a model called <a href="http://www.satisfice.com/tools/htsm.pdf" target="_blank">HTSM</a> which is made by James Bach. Which can help you look at the big picture when you are testing something.  
                The HTSM breaks down the big picture into it’s main parts and shows you how it fits, almost like a jigsaw puzzle.</p>
                <p id="Comments">For example you might consider the “many factors in the project environment that are critical to your decision 
                about what particular tests to create”, or the different types of tests there are or look at the many dimensions or 
                <a href="https://cdn.image4.io/davedevil/f_auto/Blog/product-elements.png" target="_blank">elements of a product</a>.</p>
                <p id="Comments">I would be terrified though to put pressure on my boss, because it seems like a power thing and if you say it wrong you might get sacked!</p>
                <p><strong>About me:</strong></p>
                <p>My name is David I am looking for work as a junior tester I’ve been successful in getting second interviews with Qantas, Massive Interactive, Soap and other companies. 
                Since I’m on the Autistic Spectrum I find technical stuff easy, but I need to put learning into communication.</p>
                <p>If the reader would like a Junior tester here is a link to my portfolio that shows my work so far: <a href="https://portfolio.dhaigh.app">https://portfolio.dhaigh.app</a></p>
                <p>You can follow me, to keep updated on my project to improve my communication skills. Look on the bottom of my website for the media buttons to follow me.</p>
                </div>
            </div>
<% include ./../partials/footer %>
