<% include ./../partials/header %>
<br>
<div class="container">
    <div id="Post">
    <h1 id="header">My Testing Story</h1>
    <br>
        <div class="text-center">
            <img src="/images/blog/story.png" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
            <br>
                <div id="date">11th April 2017</div>
            <br>
                <p>My name is David I am looking for work as a junior tester I’ve been successful in getting second interviews with Qantas, 
                Massive Interactive, Soap and other companies. Since I’m on the Autistic Spectrum I find technical stuff easy, 
                but I need to put learning into communication.</p>
                <p>I am doing a project where I interview testers, test leads and product owners to explore what kind of communication they need 
                from a junior tester and what does a great tester look like. 
                Here is my first interview with Joel a great Product Owner from <a href="https://www.airtasker.com/" target="_blank">AirTasker</a>.</p>
                <p>So I asked him these questions:</p>
                <p><strong>Question 1. How does your company test?</strong></p>
                <p>He says that the team is made up of manual and automation testers. 
                The manual testers do all the manual testing for every feature before release. 
                They will go through the website as a customer/user and test the whole end to end user flow. 
                What they are focusing on is the new feature that they are releasing. The automation testers write scripts, 
                that go through their website and test the website to see if all the features and the whole website is working as expected. 
                The team test the features before release (not after release).</p>
                <p><strong>Question 2: What does a product owner do where you are?</strong></p>
                <p>Before I spoke to this product owner I looked on youtube for what product owners do, 
                I’ve put the links below. But it was really interesting talking to a Product Owner for real.</p>
                <a href="https://www.youtube.com/watch?v=PJwEKldQ-gU" target="_blank">Agile Teams – Part 3 | The Product Owner Role</a>
                <br>
                <a href="https://www.youtube.com/watch?v=3eljozEWpf8" target="_blank">What is a ‘Product Owner’? – Scrum Guide</a>
                <br>
                <a href="https://www.youtube.com/watch?v=BTTdHW8Z668" target="_blank">The Impatient Product Owner</a>
                <br>
                <a href="https://www.youtube.com/watch?v=wnryKdefQv0" target="_blank">What is a Product Manager? What is a Product Owner?</a>
                <br>
                <a href="https://www.youtube.com/watch?v=HsB0UZR7XvE" target="_blank">The Wrong way to do Agile: Team Structure</a>
                <p></p>
                <p>From my talk what I understand is that the product owner oversees everything. 
                The product is the whole website and he thinks about the whole customer experience. 
                And the website is split up into multiple products. So if he was looking at the Airtaskers; 
                those people who do the work, everything that affects them he is responsible for. 
                That section of the website he would call a product. 
                He looks at how the new features are going and what to do to improve the user experience, 
                like what new products to build or what bugs to fix. 
                They will come up with a roadmap which shows everything they will be doing for the year and it links up to the business goals.</p>
                <p>I wasn’t clear what a roadmap looked like, so I searched for some examples.</p>
                <iframe style="position: relative; top: 0; left: 0; width: 100%; height: 35%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/158960531@N05/albums/72157670161135548&sort=0&by=album&theme=carousel&scale=fit&limit=10&skin=default&autoplay=true" 
                scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                <p>Compare over <a rel="nofollow" href="https://www.gapquotes.com">11 gap insurance providers</a> at GapQuotes.com</p><small>Powered by 
                <a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">
                function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",
                function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
                <br>
                <p><strong>Question 3: Can you think of the best test engineer you know, what made them good when it came to communication?</strong></p>
                <p>He said he had a backend developer that was doing some testing. As he was briefing the developer on a feature, the developer would come up with all these scenarios. 
                Think of a scenario like a play, in a given scene it’s what the actor does, what you expect him to do. In software development, 
                the actor is the user it’s what things you expect him to with the software for different purposes he has for the software. 
                Joel said this guy also was very proactive in reporting issues or problems.</p>
                <p><strong>Question 4: What kind of questions do you want the test engineer to ask you? OR How can a tester better help you?</strong></p>
                <p>He said to be very proactive about asking questions around the scenario. Get a proper understanding of how things work. Not just on how it’s supposed to work, but what it’s actually done.</p>
                <p>But we did do something similar. When I was part of testing start-up applications. We would look at the most important stages of the product lifecycle for a new user. See image below.</p>
                <div class="text-center">
                <img src="/images/blog/productlifecycle.png" class="img-fluid img-thumbnail" alt="Responsive image">
                </div>
                <br>
                <p>And look at what point of the life cycle the new user would have friction with the product. 
                Enough friction that we might lose the user at that point. Which meant the new start up would lose potential revenue because of the loss of the potential customer.</p>
                <p>I think it’s a lot like that. If anyone has any good links on scenario testing can you please share?</p>
                <p>In our testing course, we didn’t do a lot around scenarios. But we would often look at Jame’s Bach Heuristic Test Strategy Model to get ideas. On Scenario Testing he says this:</p>
                <ol>
                    <li>Begin by thinking about everything going on around the product.</li>
                    <li>Design tests that involve meaningful and complex interactions with the product.</li>
                    <li>A good scenario test is a compelling story of how someone who matters might do something that matters with the product.”</li>
                </ol>
                <p>With Joel, this seems to be very important, then just functional testing.</p>
                <p><strong>Question 5: What do you want from a good test engineer?</strong></p>
                <p>Joel repeated stuff he said before, he wants someone who is proactive. 
                Someone who will check if something is true. Someone who doesn’t just do what he’s done before or assume what’s heard is correct, but will check and test.</p>
                <p>At first, I was scared because I’m not familiar with talking with strangers. But it gives me more of a background of what happens in a testing environment. 
                Of what a product owner does. we did not talk to a lot of product owners on the testing course. 
                We mainly just talked to testers. By the end of the conversation, I wasn’t scared anymore and I feel more confident about talking to other people.</p>
                <p>If the reader would like a Junior tester here is a link to my portfolio that shows my work so far: 
                <a href="https://dhaigh.app">https://dhaigh.app</a></p>
                <p>You can follow me, to keep updated on my project to improve my communication skills. Look on the bottom of my website for the media buttons to follow me.</p>
                </div>
            </div>
<% include ./../partials/footer %>
