<% include ./../partials/header %>
<br>
<h1 id="header">CareerVentures</h1>
<div class="container">
<p class="text-center">CareerVentures needed a website so candidates can get more information on what CareerVentures is about. 
I made the website using WordPress and a third party theme which I installed in WordPress. 
One of the problems I ran into when making the site is the theme was not working fully on the mobile because when I was scrolling the page the background 
image was moving that was making the background white which made the text on the website unreadable. 
So what I did is I install a mobile theme plugin into WordPress which let me create a simple Mobile version theme 
of the website so candidates can look at the website when they are out and about.</p>
<p class="text-center">You can download the CareerVentures Website Mindmap 
<a href="https://drive.google.com/file/d/0B8b67jImVQVQTDJnWWtiRjVkTVU/view?usp=sharing" target="_blank">here</a>.</p>
<br>
<iframe style="position: relative; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/158960531@N05/albums/72157692238786220&sort=0&by=album&theme=slider&scale=fit&limit=20&skin=default&autoplay=true" 
scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Compare over <a rel="nofollow" 
href="https://www.gapquotes.com">11 gap insurance providers</a> at GapQuotes.com</p><small>Powered by <a href="https://flickrembed.com">
flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",
function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
</div>
<% include ./../partials/footer %>