<% include ./../partials/header %>
<br>
<h1 id="header">Play2Lead</h1>
<div class="container">
<p class="text-center">This company had a mobile app and the administration for it was on the web. 
The company wanted us to test the administration side of the product. <br>Admin users could create surveys and polls and send them to other users’ mobiles for them to complete in real time. 
They also wanted the testing to be automated. We decided it would be better to test the administration process end to end and see if the platform was stable, before thinking about test automation. 
Given the types of bugs we found, we reported back that test automation at this stage wasn’t going to be useful.</p>
<p class="text-center">You can download the Bug Report for Play2Lead 
<a id="links" href="https://drive.google.com/file/d/1PRUSGIRZY7ITYP3YBzyEPz1f2tVMwu1P/view?usp=sharing" target="_blank">here</a>.</p>
<br>
<iframe style="position: relative; top: 0; left: 0; width: 100%; height: 100%;" src="https://flickrembed.com/cms_embed.php?source=flickr&layout=responsive&input=www.flickr.com/photos/158960531@N05/albums/72157670161766938&sort=0&by=album&theme=slider&scale=fit&limit=10&skin=default&autoplay=true" 
scrolling="no" frameborder="0" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"><p>Compare over <a rel="nofollow" href="https://www.gapquotes.com">11 gap insurance providers</a> at GapQuotes.com</p><small>Powered by 
<a href="https://flickrembed.com">flickr embed</a>.</small></iframe><script type="text/javascript">function showpics(){var a=$("#box").val();$.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?tags="+a+"&tagmode=any&format=json&jsoncallback=?",
function(a){$("#images").hide().html(a).fadeIn("fast"),$.each(a.items,function(a,e){$("<img/>").attr("src",e.media.m).appendTo("#images")})})}</script>
</div>
<% include ./../partials/footer %>