<% include ./../partials/header %>
<br>
<h1 id="header">Qantas Insurance</h1>
<div class="container">
<p class="text-center">I worked at Qantas Insurance as a QA Engineer. As a QA Engineer I am working in the 
Software Development department for the App team, where I am testing the Qantas Wellbeing App.
The Wellbeing app is an app where you can earn Qantas Points from walking, swimming, cycling, sleeping and so much more.
You can learn more about the Qantas Wellbeing App <a id=links href="https://insurance.qantas.com/wellbeing/qantaswellbeingapp" target="_blank">here</a>.
You can also download the Qantas Wellbeing app here for 
<a id=links href="https://itunes.apple.com/au/app/apple-store/id1081741211?pt=430935&ct=Download%20from%20website%20FAQ&mt=8" target="_blank">iOS</a>
  and <a id=links href="https://play.google.com/store/apps/details?id=com.qantas.assure" target="_blank">Android</a>.
</p>
<br>
<div class="text-center">
<img src="https://cdn.image4.io/davedevil/f_auto/Work/6f9bd665-9457-466b-9092-a1e9b33e285b.png" class="img-fluid" alt="Responsive image">
</div>
</div>
<% include ./../partials/footer %>