<%- include ("./../partials/header") %>
<br>
<h1 id="header">Qantas Insurance</h1>
<div class="container">
<p class="text-center">I worked at Qantas Insurance as a Senior Quality Engineer. As a Senior Quality Engineer I am working in the 
Software Development department for the App team, where I am testing the Qantas Wellbeing App.
The Wellbeing app is an app where you can earn Qantas Points from walking, swimming, cycling, sleeping and so much more.
You can learn more about the Qantas Wellbeing App <a id=links href="https://insurance.qantas.com/wellbeing/qantaswellbeingapp" target="_blank">here</a>.
You can also download the Qantas Wellbeing app here for 
<a id=links href="https://itunes.apple.com/au/app/apple-store/id1081741211?pt=430935&ct=Download%20from%20website%20FAQ&mt=8" target="_blank">iOS</a>
  and <a id=links href="https://play.google.com/store/apps/details?id=com.qantas.assure" target="_blank">Android</a>.
</p>
<br>
<p class="text-center">Also I have been working on the Services Backend team where I have been doing testing in the backend team using tools like Postman, S3, DynamoDB and MySQL databases. Also I have created a Service where the Devs, QA's and other stakeholders to create test data for our non prod envs using our API's where the service is using NPM packages like NodeJs, SwaggerUI, Axios, Bootstrap, Luxon and Sinon.</p>
<div class="text-center">
<img src="/images/work/Wellbeing.png" class="img-fluid" alt="Responsive image">
</div>
</div>
<%- include ("./../partials/footer") %>