<% include ./../partials/header %>
<br>
<h1 id="header">Qantas Airline</h1>
<div class="container">
<p class="text-center">I worked at Qantas Airline as a Quality Analyst. As a Quality Analyst I am working in the 
Sales and Distribution department, where I am testing for the Qantas Distribution Platform project.
 Qantas Distribution Platform or QDP for short is a ticket booking system that the travel agent users
  like <a id="links" href="https://www.flightcentre.com.au/" target="_blank">Flight Centre</a> to book airline tickets for there customers to fly on Qantas or a Codeshare airline. 
  The Platform 90% of it is using APIs and I test the APIs using a range of tools like Postman, SoapUI, Bamboo for CI and Spark.
   You can learn more about the Qantas Distribution Platform <a id="links" href="https://www.qantas.com/distributionplatform/au/en.html" target="_blank">here</a>.  
</p>
<br>
<div class="text-center">
<img src="/images/work/airlinepage.png" class="img-fluid" alt="Responsive image">
</div>
</div>
<% include ./../partials/footer %>