<%- include ("./../partials/header") %>
<br>
<h1 id="header">Qantas Loyalty</h1>
<div class="container">
<p class="text-center">I worked at Qantas Loyalty as a QA Engineer on a contract. My job as QA Engineer is to provide Quality Assistance to the teams for Qantas Insurance, 
Qantas Money and our app for Qantas Insurance called Qantas Wellbeing by testing their Front-End, Back-End/Microservices using SoapUI, 
Postman and our BDD framework to do API automation, testing web and mobile using Charles proxy to observe HTTP traffic and mock data using rewrites and doing a bit of Automation testing using the TestCafe 
Browser Recorder. Also using TestCafe to test Cross Browser.
</p>
<p class="text-center">Here are some of the work and projects I have been working on:</p>
<br>
<h2 id="header"><a href="https://insurance.qantas.com/" id="qantas" target="_blank">Qantas Insurance</a></h2>
<p class="text-center">I was working on a project in the front-end which was made to improve the UI and sales for our 
Travel Insurance product called the Travel Funnel.</p>
<p class="text-center">The Old Travel Funnel used to be run by our partner QBE but our new one is run in-house which 
I was testing with the Senior QA to check that the funnel works end to end, Checking that the UI is returning the right products 
from the API based on the user's input. Also checking that the UI is consistent with different browsers and mobile devices.</p>
<p class="text-center">We had a Travel Transition in 2023 so the funnel has been changed after I did this project.</p>
<p class="text-center">You can check out the Travel Funnel <a id="links" href="https://insurance.qantas.com/travel-insurance/quote" target="_blank">here</a>.</p>
<div class="text-center">
<img src="/images/work/qantastravel.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
<br>
<h2 id="header"><a href="https://www.qantasmoney.com/" id="qantas" target="_blank">Qantas Money</a></h2>
<p class="text-center"> For a short time, I was working on a project for the web team which was called Knowledge Based Authentication or KBA for short.</p>
<p class="text-center">KBA is a web page in our Credit card application process which provides a extra layer of security to stop identity fraud by asking 3 questions based on their credit card application 
to check that the person that is doing the application is the one that wants to apply for the credit card and is eligible for it.</p>
<br>
<h2 id="header"><a href="https://insurance.qantas.com/wellbeing" id="qantas" target="_blank">Qantas Wellbeing</a></h2>
<p class="text-center">I was involved in a project in the backend for a new activity that is in the Qantas Wellbeing app called Sleep.</p>
<p class="text-center">The new Sleep feature is in our app where the user creates the sleep challenge and earns Qantas points for completing the challenge.</p>
<p class="text-center">This project was a challenge because there were so many edge cases to test and since this new feature was very front end directive it was a challenge to test it from the backend.</p>
<p class="text-center">To test it from the backend we have to use SoapUI to create our tests and run them. Also, we have to use Postman to do time travel 
on our API'S because of some of our tests we needed to jump to past and future times to test it.</p>
<p class="text-center">If you want more information on the Qantas Wellbeing app you can click 
<a id="links" href="https://insurance.qantas.com/wellbeing/qantaswellbeingapp" target="_blank">here</a>.</p>
<br>
<div class="popup-gallery">
<div class="row">
<div id="space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
<picture>
	<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge.jpg" title="Sleep Challenge"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge.jpg" width="350" height="650"></a>
</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge2.jpg" title="Sleep Challenge2"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge2.jpg" width="350" height="650"></a>
</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge3.jpg" title="Sleep Challenge3"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge3.jpg" width="350" height="650"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge4.jpg" title="Sleep Challenge4"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge4.jpg" width="350" height="650"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge5.jpg" title="Sleep Challenge5"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge5.jpg" width="350" height="650"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge6.jpg" title="Sleep Challenge6"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge6.jpg" width="350" height="650"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge7.jpg" title="Sleep Challenge7"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge7.jpg" width="350" height="650"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge8.jpg" title="Sleep Challenge8"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge8.jpg" width="350" height="650"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/work/qantasWellbeingSleepGallery/sleepChallenge9.jpg" title="Sleep Challenge9"><img src="/images/work/qantasWellbeingSleepGallery/sleepChallenge9.jpg" width="350" height="650"></a>
	</picture>
</div>
</div>	
</div>
</div>
</div>
<%- include ("./../partials/footer") %>