<%- include ("./../partials/header") %>
<br>
<h1 id="header">Suncorp</h1>
<div class="container">
<p class="text-center">I did a 2-week internship with Suncorp’s Superannuation and Insurance divisions to validate our test training: 
both our technical skills (JavaScript, HTML, CSS, and Browser Developer Tools) 
and our ability to do End to End software testing on commercial products.</p>
<h2 id="header">References</h2>
<p class="text-center">“WorkVentures trainees are better than any post graduate we have had seen in the last 18 months.” (Priscilla – Team Lead)</p>
<p class="text-center">“David…got lots of energy and really good critical thinking in the mind-maps.” (Priscilla – Team Lead)</p>
<p class="text-center">“David…picked up the domain knowledge well and really easy to work with.” (Pooja – Team Lead)</p>
<p class="text-center">Example below of <a id="links" href="https://drive.google.com/file/d/18i2CN2nAwEsp6-9_zFJ6F5hRh73tJmPI/view?usp=sharing" target="_blank">Given, When, 
Then style mind map bug reporting:</a>
</p>
<br>
<div class="text-center">
<img src="https://cdn.image4.io/davedevil/f_auto/Work/0d34b304-e673-40ab-b4a3-4ff49f3ccebb.png" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
</div>
<%- include ("./../partials/footer") %>