<%- include ("./../partials/header") %>
<br>
<h1 id="header">Work</h1>
<p class="text-center">This is a Gallery of all the work I have done.</p>
<div class="container">
  <div class="row">
	<div id="Space" class="col-lg-4 col-sm-6">
		<div class="thumbnail">
		<picture>
			  <img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/091eaba3-cc2f-4d12-87db-12441ff97514.png" class="img-fluid img-thumbnail">
		</picture>
		<div id="button" class="text-center">
		<a data-cy="Qinsurance" class="btn btn-outline-danger btn-lg" href="/qantasinsurance" role="button">Qantas Insurance</a>
		</div>
			</div>
		</div>
	<div id="Space" class="col-lg-4 col-sm-6">
		<div class="thumbnail">
		<picture>
			  <img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/de7319a1-6d18-4058-8085-2bf9ff928a3f.jpg" class="img-fluid img-thumbnail">
		</picture>
		<div id="button" class="text-center">
		<a data-cy="Qairline" class="btn btn-outline-danger btn-lg" href="/qantasairline" role="button">Qantas Airline</a>
		</div>
			</div>
		</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/64a1857e-bc8f-471f-9297-e59d1aa6b81f.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Qloyalty" class="btn btn-outline-danger btn-lg" href="/qantasloyalty" role="button">Qantas Loyalty</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/8410ba1b-6617-4332-8060-a7771f7c8dd5.jpg" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Lorica" class="btn btn-outline-danger btn-lg" href="/lorica-health" role="button">Lorica Health</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/ffc831b4-ada1-4765-b7ca-060d7226988b.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Suncorp" class="btn btn-outline-danger btn-lg" href="/suncorp" role="button">Suncorp</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/947450cc-389f-4591-b442-b281bcec782c.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Wired2Cloud" class="btn btn-outline-danger btn-lg" href="/wired2cloud" role="button">Wired2Cloud</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/84c28bb8-aa7b-4b5a-aa90-fa0af9c8c884.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="SIRC" class="btn btn-outline-danger btn-lg" href="/sirc" role="button">SIRC</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/c28d64f6-51fe-495a-b082-7f1a54e9e154.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Covata" class="btn btn-outline-danger btn-lg" href="/covata" role="button">Covata</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/9d1fce6a-5281-440f-9834-808547771d97.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="CareerVentures" class="btn btn-outline-danger btn-lg" href="/careerventures" role="button">CareerVentures</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/e25bbb11-6592-4497-ba63-ebb4a591764c.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="AIE" class="btn btn-outline-danger btn-lg" href="/aie-rumble-academy" role="button">AIE Rumble Academy</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/0ef28b60-d5a0-4788-b9a3-4b9e075f4e65.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Kartel" class="btn btn-outline-danger btn-lg" href="/kartel-digital" role="button">Kartel Digital</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="https://cdn.image4.io/davedevil/f_auto/Work/a1ec4794-ab0f-4cd7-b464-199db55161ea.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Play2Lead" class="btn btn-outline-danger btn-lg" href="/play2lead" role="button">Play2Lead</a>
	</div>
		</div>
	</div>
</div>
</div>
<%- include ("./../partials/footer") %>