<% include ./../partials/header %>
<br>
<h1 id="header">Work</h1>
<p class="text-center">This is a Gallery of all the work I have done.</p>
<div class="container">
  <div class="row">
	<div id="Space" class="col-lg-4 col-sm-6">
		<div class="thumbnail">
		<picture>
			  <img id="Grid" src="/images/qantasairline.jpeg" class="img-fluid img-thumbnail">
		</picture>
		<div id="button" class="text-center">
		<a data-cy="Qairline" class="btn btn-outline-danger btn-lg" href="/qantasairline" role="button">Qantas Airline</a>
		</div>
			</div>
		</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/qantasloyalty.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Qloyalty" class="btn btn-outline-danger btn-lg" href="/qantasloyalty" role="button">Qantas Loyalty</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/locicahealthwork.jpg" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Lorica" class="btn btn-outline-danger btn-lg" href="/lorica-health" role="button">Lorica Health</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/suncorpwork.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Suncorp" class="btn btn-outline-danger btn-lg" href="/suncorp" role="button">Suncorp</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/wired2cloud.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Wired2Cloud" class="btn btn-outline-danger btn-lg" href="/wired2cloud" role="button">Wired2Cloud</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/sirc.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="SIRC" class="btn btn-outline-danger btn-lg" href="/sirc" role="button">SIRC</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/covatawork.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Covata" class="btn btn-outline-danger btn-lg" href="/covata" role="button">Covata</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/careerventures.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="CareerVentures" class="btn btn-outline-danger btn-lg" href="/careerventures" role="button">CareerVentures</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/aierumbleacademy.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="AIE" class="btn btn-outline-danger btn-lg" href="/aie-rumble-academy" role="button">AIE Rumble Academy</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/karteldigital.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Kartel" class="btn btn-outline-danger btn-lg" href="/kartel-digital" role="button">Kartel Digital</a>
	</div>
		</div>
	</div>
	<div id="Space" class="col-lg-4 col-sm-6">
	<div class="thumbnail">
	<picture>
  		<img id="Grid" src="/images/play2lead.png" class="img-fluid img-thumbnail">
	</picture>
	<div id="button" class="text-center">
	<a data-cy="Play2Lead" class="btn btn-outline-danger btn-lg" href="/play2lead" role="button">Play2Lead</a>
	</div>
		</div>
	</div>
</div>
</div>
<% include ./../partials/footer %>