#top {
    color: #FF6969;
}

body {
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: center;
}

.container.main {
    margin-top: 7.0em;
}

#area {
    background-color: #FFFFFF;
    border: 5px solid #DB4C77;
    padding-bottom: 4px;
}

#container {
    text-align: center;
}

#header {
    text-align: center;
}

#Space {
    padding-top: 15px;
}

#links {
    color: #252a2d;
}

#qantas {
    color: #252a2d;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0px;
    display: inline-block;
}

p {
    font-family: 'Roboto', sans-serif;
}

#Post {
  border: 5px solid #DB4C77;
	padding: 20px;
	max-width: 3000px;
	margin: 20px auto;
	background-color: #FFFFFF;
}

#Comments {
    color: blue;
}

#Grid {
    object-fit: cover;
    width: 500px;
    height: 200px;
}

#Grid2 {
    object-fit: cover;
    width: 500px;
    height: 400px;
}

strong {
    font-family: 'Abril Fatface', cursive;
}

#button {
    padding-top: 2px;
}

li {
    font-family: 'Roboto', sans-serif;
}

#date {
	color: #FF6969;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

/*FOOTER*/

footer {
    background: #343a40;
    background: -webkit-linear-gradient(59deg, #b20000, #343a40);
    background: linear-gradient(59deg, #b20000, #343a40);
    color: white;
    margin-top:100px;
    padding-bottom: 30px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #00b3ff;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  .social-network a.icoTwitter:hover {
    background-color: #00b3ff;
  }

  .social-network a.icoInstagram:hover {
    background-color: #fd45bd;
  }

  .social-network a.icoGithub:hover {
    background-color: #c753ff;
  }

  .social-network a.icoYoutube:hover {
    background-color: #00FF00;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i
  .social-network a.icoTwitter:hover i
  .social-network a.icoInstagram:hover i
  .social-network a.icoGithub:hover i
  .social-network a.icoYoutube:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }