<% include ./../partials/header %>
<br>
<div class="container">
<h1 id="header">Contact Me</h1>
<p class="text-center">If you would like to get in touch feel free to send me an email at <a id="links" href="mailto:davidhaigh94@gmail.com">davidhaigh94@gmail.com</a>
<br>or you can contact me using the Social Media buttons below.</p>
</div>
<br>
<div class="text-center">
  <img src="/images/other/Zara.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
</div>
<% include ./../partials/footer %>