<%- include ("./../partials/header") %>
<br>
<h1 id="header">Profile Overview</h1>
<div class="container">
<p class="text-center">As a Senior Quality Engineer with specialized training in UI & API test automation, I bring my expertise to microservices and exploratory testing. My professional journey has exposed me to the fast-paced, high-pressure environments of Agile, BDD, and CI/CD, predominantly in cloud-based settings. I have honed my skills through extensive testing of web and mobile applications, primarily in the sectors of insurance, loyalty programs, and flight booking systems.</p>
<h2 id="header">Core Responsibilities</h2>
<p class="text-center">Direct liaison with stakeholders for eliciting and comprehending system requirements.
   Architecting comprehensive test strategies and formulating detailed test plans and scripts.
   Effective management and logging of defects in Jira.
   Automating tests for UI and API of web applications, services, and mobile platforms.
   Diligent testing of both the front-end UI and intricate back-end microservices.
   Crafting release plans to ensure the smooth rollout of features and fixes.
   Under the guidance of the Test Manager, I stand as the principal QA authority in my division, consistently driving quality and assurance standards.</p>
<p class="text-center">You can download my Resume from <a data-cy="Resume" id="links" href="/docs/David-Haigh-Resume-Sep-2020.pdf" target="_blank">here</a>.</p>
<p class="text-center">Please click the <a data-cy="Worklink" id="links" href="/work">Work</a> link to see examples of my work.</p>
<p class="text-center">You can also look at the source code for my Online Portfolio 
<a data-cy="Portfolio" id="links" href="https://github.com/Dhaigh94/Online-Portfolio" target="_blank">here</a>.</p>
<br>
<div class="text-center">
<img src="/images/other/david.png" class="img-fluid" alt="Responsive image">
</div>
</div>
<%- include ("./../partials/footer") %>
