<%- include ("./../partials/header") %>
<br>
<div class="container">
    <h1 id="header">Portfolio Resources
</div>
<p class="text-center">This is a list of resources I used and made during and after the course.</p>
<p class="text-center">
<a id="links" href="http://www.satisfice.com/tools/htsm.pdf" target="_blank">HTSM</a>, 
<a id="links" href="/docs/few-hiccups.pdf" target="_blank">FEW HICCUPS</a>, 
<a id="links" href="https://www.developsense.com/articles/2005-01-TestingWithoutAMap.pdf" target="_blank">Testing Without a Map</a>, 
<a id="links" href="/docs/APARADER.pdf" target="_blank">APARADER</a>, 
<a id="links" href="/docs/fewhiccups_simplified.pdf" target="_blank">FEW HICCUPS Simplified in Plain English</a> 
</p>
<br>
<div data-cy=resourcesgallery class="container">
<div class="popup-gallery">
<div class="row">
<div id="space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
<picture>
	<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/FindBugSteps.png" title="Find Bug Steps"><img src="/images/resources/FindBugSteps.png" width="350" height="250"></a>
</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/Replicate.png" title="Replicate"><img src="/images/resources/Replicate.png" width="350" height="250"></a>
</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/Isolate.png" title="Isolate"><img src="/images/resources/Isolate.png" width="350" height="250"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/Generalise.png" title="Generalise"><img src="/images/resources/Generalise.png" width="350" height="250"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/Maximise.png" title="Maximise"><img src="/images/resources/Maximise.png" width="350" height="250"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/Neutral.png" title="Neutral"><img src="/images/resources/Neutral.png" width="350" height="250"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/Externalize.png" title="Externalize"><img src="/images/resources/Externalize.png" width="350" height="250"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/3basics.png" title="3 Basics of Bug Reporting"><img src="/images/resources/3basics.png" width="350" height="250"></a>
	</picture>
</div>
</div>
<div id="Space" class="col-lg-4 col-sm-6">
<div class="thumbnail">
	<picture>
		<a id="Grid" class="img-fluid img-thumbnail" href="/images/resources/Escapa.png" title="Escapa"><img src="/images/resources/Escapa.png" width="350" height="250"></a>
	</picture>
</div>
</div>	
</div>
</div>
</div>
<%- include ("./../partials/footer") %>